@page "/"
@using DoctorManagementUI.Components

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
        <AppointmentComponent Appointment=appointments />
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Guest</h1>
        <p>Login or <a class="font-weight-bold link-dark" href="register/doctor">Register</a></p>
    </NotAuthorized>
</AuthorizeView>


