@page "/"
@using DoctorManagementUI.Components

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
        <AppointmentComponent Appointment=appointments />
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Guest</h1>
        <p>Login or Register</p>
    </NotAuthorized>
</AuthorizeView>


